{% extends "base.html" %}

{% block content %}
  <!-- OUTPUT SEARCH RESULTS -->
  {% if files | length != 0 %}
  <table id="data" class="table table-striped">
    <thead>
        <tr>
          <th>Name</th>
          <th>Size(KB)</th>
          <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for u in files %}
        <tr>
          <td><a href={{ url_for('display' ,id=u[0]) }} target="_blank">{{ u[1] }}</a></td>
          <td>{{ (u[3] // 1024 + 1) }}</td>
          <td>{{ u[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div id="message">Database empty</div>
  {% endif %}

{% endblock %}